body {
    font-family: "Verdana", sans-serif;

}

.bgrImg {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

/*header start*/

.header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.header-logo-img {
    background-image: url(../img/logo-home.png);
    width: 46px;
    height: 44px;
    display: inline-block;
    transition: 0.5s;

}

.header-logo-title {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    display: inline-block;
    padding-left: 15px;
    font-weight: 700;
    transition: .5s ;

}

.header-logo {
    text-decoration: none;

}


.header-logo:hover .header-logo-img {
    background-image: url(../img/logo-home-hover.png);
}

.header-logo:hover .header-logo-title {
    color: #f26522;

}

.header-logo-title p:first-child {
    font-size: 29px;
}

.header-logo-title p:last-child {
    font-size: 18px;
}

.header-contacts {
    line-height: 21px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

.header-contacts a {
    text-decoration: none;
    color: #ffffff;
}

/*header end*/

/*menu link start*/

.menu {
    padding-top: 48px;
}

.menu-item-img {
    border: 2px solid black;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 20;
    width: 308px;
}


.menu-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.menu-item {
    width: 308px;
    /*    display:block;*/
    text-align: center;
    position: relative;
    text-decoration: none;
}

.menu-item-title {
    color: #ffffff;
    font-size: 18px;
    margin-top: 22px;
    margin-bottom: 62px;
    transition: 0.5s ;
}

.menu-item-info {
    position: absolute;
    height: 63px;
    width: 100%;
    background-color: #f26522;
    bottom: 103px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    
}

@keyframes animation-hover {
    from{
        transform: perspective(900px) rotateX(180deg);
        bottom: 150px;
    }
    60%{
        opacity: 0.5;
    }
    to{
        transform: perspective(0px) rotateX(0);
        opacity: 1;
    }
}

.menu-item-info p {
    font-family: "Verdana", sans-serif;
    display: inline-block;
    color: rgba(255, 255, 255, 255);

}

.menu-item-info p:first-child {
    font-size: 12px;
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 5px;
}

.menu-item-info p:last-child {
    font-size: 22px;
    display: block;
    padding-left: 21px;
}

.menu-item-info a {
    font-family: "Verdana", sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    padding-top: 35px;
    height: 100%;
    width: 100%;
    padding-left: 95px;
}

.menu-item-info a::after {
    content: "\003e";
    padding-left: 12px;
}

.menu-item:hover .menu-item-info {
    animation: animation-hover .7s;
    animation-fill-mode: forwards;
}

.menu-item:hover .menu-item-title{
    color: #f26522;
}

/*menu link end*/

/*copyrite star*/

.copyrite {
    text-align: center;

}

.copyrite-text {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    padding-bottom: 20px;
}

