.backgroundImg {
    background-image: url(../img/rana-sawalha-364253-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.clearfix {
    clear: both;
}

.bgr-line {
    background-color: rgba(0, 0, 0, 0.41);
    height: 55px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    position: relative;
}


.header-logo {
    padding: 19px 0;
    display: inline-block;
}


.header-logo-link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "courier-std", monospace, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
}

.header-logo-link:hover {
    color: #3cb878;
    transition: all 0.5s;
}

.header-icon {
    position: absolute;
    left: 827px;
    top: 21px;
    border-right: 1px solid #2d2c2d;
    box-shadow: 1px 0 rgba(181, 163, 163, 0.57);
    padding-right: 25px;
}

.header-icon a {
    background-image: url(../img/css_sprites.png);
    background-repeat: no-repeat;

}

a.calculator {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: -1px -19px;
    padding-right: 35px;
}

a.calculator:hover {
    background-position: -1px -40px;
    transition: all 0.5s;
}



a.message {
    display: inline-block;
    width: 28px;
    height: 20px;
    background-position: -1px -104px;
    padding-right: 38px;
}

a.message:hover {
    background-position: -1px -82px;
    transition: all 0.5s;
}

a.compass {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -1px -127px;
}

a.compass:hover {
    background-position: -1px -149px;
    transition: all 0.5s;
}

.header-welcome-log-in {
    text-decoration: none;
    font-family: "courier-std", monospace, sans-serif;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
    position: absolute;
    right: 68px;
    top: 23px;
}

.header-welcome-log-in::before {
    content: "Welcome, ";
    font-family: "courier-std", monospace, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}

.header-welcome-log-in::after {
    content: " or ";
    font-family: "courier-std", monospace, sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}


.header-welcome-sign-up {
    text-decoration: none;
    font-family: "courier-std", monospace, sans-serif;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
    position: absolute;
    right: 0px;
    top: 23px;
}

/*START FORM*/
.check-in {
    margin-top: 65px;
    margin-bottom: 30px;
}

.chek-in-box {
    width: 445px;
    height: 585px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
    position: relative;
    padding: 30px 60px;
}

.gren-elements {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
}

.chek-in-page {
    text-decoration: none;
}

.chek-in-page-signUp {
    font-family: "courier-std", monospace, sans-serif;
    color: #434343;
    font-size: 20px;
}

.chek-in-page-logIn {
    font-family: "courier-std", monospace, sans-serif;
    color: #3cb878;
    font-size: 14px;
    float: right;
    padding-top: 2px;
    padding-right: 5px;
}

.netvork-login {
    padding-top: 17px;
}


.netvork-login-btn {
    font-family: "courier-std", monospace, sans-serif;
    border: none;
    font-size: 15pt;
    color: #FFF;
    border-radius: 3px;
    width: 157px;
    height: 46px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding-top: 14px;
    padding-left: 60px;
}

.loginBtn-facebook {
    background-color: #4C69BA;
    text-shadow: 0 -1px 0 #354C8C;
    margin-right: 5px;
    position: relative;
}


.loginBtn-facebook::before {
    content: "";
    display: inline-block;
    border-right: #364e92 1px solid;
    background-image: url(../img/css_sprites.png);
    background-position: -1px -61px;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 13px;
}


.loginBtn-google {
    background-color: #df4a32;
    text-shadow: 0 -1px 0 #354C8C;
    position: relative;
}


.loginBtn-google::before {
    content: '';
    display: inline-block;
    background-image: url(../img/css_sprites.png);
    background-position: -1px 3px;
    background-repeat: no-repeat;
    border-right: #BB3F30 1px solid;
    width: 26px;
    height: 22px;
    position: absolute;
    left: 13px;
    top: 11px;
    padding-right: 5px;
}


.chek-in-choice {
    margin-top: 35px;
    margin-bottom: 18px;
    display: inline-block;

}

.chek-in-choice p {
    font-family: monospace, sans-serif;
    color: #848484;
    font-size: 14px;

}

.chek-in-choice p::before {
    content: '';
    border: 1px solid rgba(193, 185, 185, 0.46);
    width: 135px;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 16px;
}

.chek-in-choice p::after {
    content: "";
    border: 1px solid rgba(193, 185, 185, 0.46);
    width: 135px;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 16px;
}

.register-subscribe {
    font-family: monospace, sans-serif;
    color: #554e4e;
    font-size: 14px;
    padding: 16px 16px;
    margin-bottom: 9px;
    left: 62px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    cursor: pointer;
}

.register-subscribe:hover {
    box-shadow: -1px 1px #c1b9b9, 1px 1px #c1b9b9, -2px 2px 4px #d3c8c8, 2px 2px 4px #d3c8c8;
    transition: all 0.3s;

}

.register-subscribe-input {
    width: 322px;

}

input::placeholder {
    color: #ccc1c1;
}

/*End Form*/
.gren-text {
    color: #3cb878;
}

/*checkmark start*/
.content {
    margin-top: 15px;
    display: inline-block;

}

/*
.content input {
    position: relative;
    opacity: 1;
    cursor: pointer;
    height: 0px;
    width: 0px;
}
.chekmark::before {
    content: '';
	 height: 25px;
    width: 25px;
    background-color: #eee;
}
.content:hover input ~ .checkmark {
    background-color: #ccc;
}
.content input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display:none ;
}
*/

/*checkmark end*/

input[type="submit"] {
    display: inline-block;
    width: 322px;
    height: 46px;
    background-color: rgb(60, 184, 120);
    text-align: center;
    margin-top: 25px;
    border-radius: 4px;
    font-family: "monospace", sans-serif;
    left: 61px;
    margin-top: 15px;
    /*    padding-bottom: 17px;*/
    display: inline-block;
    color: #ffffff;
    font-size: 16px;

}
