.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Myriad Pro', sans-serif;
}

.main-menu-link {
    box-sizing: border-box;
    display: inline-block;
    font-family: sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
    padding: 25px 30px;
}

.main-menu-link:hover {
    display: inline-block;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 24px;
    background-color: #222f3a;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}


.main-menu {
    display: inline-block;
    box-sizing: border-box;
    background-color: #35444f;
    height: inherit;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

span {
    font-family: sans-serif;
    color: #4bcaff;
}

.logo {
    margin-top: 51px;
}

.logo-name {
    text-decoration: none;
    font-size: 80pt;
    font-family: sans-serif;
    color: black;
}

.sidebar-link {
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    font-size: 29.99244pt;
    color: #aab1b6;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20.5px;
    padding-left: 30px;
}

.sidebar-link:hover {
    box-sizing: border-box;
    display: inline-block;
    background-color: #dbdbdb;
    color: #121212;
    border-left: 1px solid #141212;
    border-right: 1px solid #141212;
}


.sidebar {
    border: 1px solid #141212;
    width: 344px;
    height: 401px;
    display: inline-block;
    /*    margin-top: 51px;*/
    box-sizing: border-box;
    vertical-align: top;
    margin-top: 61px;
}

.content {
    font-family: sans-serif;
    font-size: 18pt;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 61px;
    padding-left: 52px;
    width: 880px;
}

.content-img {
    width: 880px;
    height: 529px;
    border: 1px solid #35444f;
    padding-top: 74px;
    padding-bottom: 74px;
    box-sizing: border-box;
}
.content-img img:hover{
    transform: scale(1.2);    
    transition-duration: 0.9s;
}

.content-text {
    display: inline-block;
    margin-left: 25px;
    width: 820px;
    margin-top: 50px;
}

p {
    font-family: sans-serif;
    font-size: 18pt;
    padding-top: 30px;
    text-align: left;
}

.footer-link {
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: rgba(12, 25, 39, 255);
    padding-left: 10px;
    padding-right: 10px;
}

.footer-link:hover {
    border-bottom: 2px solid #3181a6;
    color: #3181a6;
}


.footer-menu {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 40px;

}

.footer {
    display: inline-block;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    background-color: #b4b7ba;
    margin-top: 51px;
    margin-bottom: 40px;

}

.copyrigt {
    display: inline-block;
    text-align: right;
    padding-left: 200px;
}

.copyrite-text {
    text-align: right;
}
