body {
    font-family: sans-serif;
}

.main-header {
    padding: 32px 0;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.menu-top {
    text-align: center;
    background-color: aqua;
}

.menu-top-link {
    color: #16a085;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 30px;
    margin-right: 30px;
}

.top-img {
    text-align: center;
}

.bg-grey {
    background-color: #f5f6f7;
    padding-top: 59px;
    padding-bottom: 59px;
    padding-left: 110px;
    padding-right: 108px;
    box-sizing: border-box;
}

.content-title {
    color: #373737;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 34px;
}

.content-text {
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.btn-container {
    text-align: center;
}

.btn {
    border-radius: 3px;
    background-color: #16a085;
    padding: 20px 40px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.footer {
    padding-top: 47px;
    padding-bottom: 47px;

}

.copyright {
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
    padding-right: 104px;
}
