@import url('https://fonts.googleapis.com/css?family=Lato:700');

body {
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: #ff6;
    background-color: #000;
}

.container {
    position: absolute;
    width: 1100px;
    height: 2000px;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    text-align: leftactive;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

.header {
    position: absolute;
    top: 100%;
    animation: scroll 50s linear 0s infinite;
}

.header h1 {
    font-size: 360%;
    text-align: center;
    padding-bottom: 200px;
}

.header p {
    padding-bottom: 20px;
}

.header p::first-letter {
    font-size: 200%;
    padding-left: 30px;
}

iframe{
    opacity: 0;
}
@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -200%;
    }
}
