.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.text-selected {
    color: #f1ad1d;
}

.paralax-container {
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    height: 100vh;
    width: 100%;
}

.decoration-underline::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    border: none;
    background-color: #f1ad1d;
    margin: 35px auto 0;
}

/*header start*/

.main-header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg1::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2.5);
    background-size: 100%;
    z-index: -1;
    background-image: url(../img/html_css_homework_homework8_img_bg1.jpg);
    /*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    height: 100vh;
}


.header-title {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 48px;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.header-compani-description {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    margin-bottom: 26px;
}

.header-slogan {
    display: inline-block;
    font-family: "Montserrat-Bold", sans-serif;
    color: #ffffff;
    font-size: 54px;/ font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 41px 50px 41px 0;
}

.header-slogan .text-selected {
    background-color: #fff;
    padding: 39px 30px;
    box-sizing: border-box;
}

/*header end*/
/*awards start*/


.awards-section {
    margin-top: 112px;
    text-align: center;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bgr1::after{
     content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 80%;
    z-index: -1;
    background-color: aliceblue;
    height: 100vh;
}

.section-title {
    font-family: "Montserrat", sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.section-description {
    font-family: "Lato", sans-serif;
    color: #4d4943;
    font-size: 17px;
    margin-bottom: 137px;
}

/*awards end*/
/*future start*/

.future {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg2::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
    background-image: url(../img/html_css_homework_homework8_img_bg2.jpg);
/*        background-attachment: fixed;*/
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.future-title {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

}


/*future end*/
/*secret start*/


.secret {
    margin-top: 136px;
    text-align: center;
    margin-bottom: 180px;
}

/*secret end*/
/*feature end*/

.feature {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.bg3::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    background-image: url(../img/html_css_homework_homework8_img_bg3.jpg);
    /*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    height: 80vh;
}

.feature-img {

    padding: 0 33px;
    margin-top: 50px;
}

/*feature end*/
/*trust start*/

.trust {
    margin-top: 157px;
    text-align: center;
}

/*trust end*/
/*chek start*/

.chek {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.bg4::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    background-image: url(../img/html_css_homework_homework8_img_bg4.jpg);
    /*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    height: 485px;
}

.chek-title {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
}

.section-chek-description {
    font-family: "OpenSans", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
}

.chek h2 {
    margin-bottom: 60px;
}

.decoration-underline-chek::after {
    content: "";
    display: block;
    width: 281px;
    height: 3px;
    border: none;
    background-color: #ffffff;
    margin: 35px auto 0;
}

/*chek end*/
/*shere start*/

.shere {
    margin-top: 157px;
    text-align: center;
    margin-bottom: 157px;
}
