body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.clearfix {
    clear: both;
}

.container {
    font-family: 'Myriad Pro', sans-serif;
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    padding-top: 49px;
}


.header-logo-home {
    float: left;
    background-image: url(../img/logo-home.png);
    width: 46px;
    height: 44px;
    display: block;
}

.header-logo-link:hover .header-logo-home {
    background-image: url(../img/logo-house.png);
}

.header-logo-link:hover .header-name {
    color: #f26522;
}

.header-name {
    float: left;
    padding-left: 15px;
    color: #ffffff;
    font-family: "Verdana", sans-serif;
    font-weight: 700;
}


h1.header-name-link {
    font-size: 29px;
    line-height: 21px;
    padding-bottom: 7px;
}

h2.header-name-link {
    font-size: 18px;
}


.header-contacts {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    float: right;
    text-align: right;
}

.header-contacts-email {
    text-decoration: none;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
}


.tours {
    padding-top: 48px;
}



.tours-info {
    position: relative;
    width: 307px;
    float: left;
    margin-right: 68px;
    text-align: center;
}



.tours-info:nth-child(3n) {
    margin-right: 0;
}

.tour-info-picture {
    border: 2px solid black;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 20;
    width: 308px;
}


.tours-info h3 {
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
}

.tours-info:hover .tour-info-name {
    color: #f26522;
}

.tours-info:hover .tours-info-price {
    opacity: 1;
    top: 45%;
}

.tours-info-price {
    opacity: 0;
    display: inline-block;
    position: absolute;
    height: 69px;
    width: 100%;
    background-color: #f26522;
    bottom: 95px;
    left: 1px;
    width: 100%;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: 60%;
}


.tours-price-link h4 {
    position: absolute;
    top: 16px;
    left: 21px;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
}

.tours-price-link h5 {
    position: absolute;
    bottom: 17px;
    font-family: "Verdana", sans-serif;
    text-align: left;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
}

.tours-price-link p {
    position: absolute;
    right: 18px;
    bottom: 17px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.tours-price-link p::after {
    content: "\003e";
    padding-left: 15px;
}


.copyrite {
    text-align: center;
}

.copyrite-text {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 21px;
}
