.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

input {
    margin: 15px;
    padding: 10px;
}

p {
    /* text-align: center; */
    display:inline-block;
    margin-left: 30px;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 30px

}