@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.pricing-table {
    margin-top: 24px;
}

/*head start*/

.pricing-offer {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border: 23px solid #374765;
}

.pricing-offer td {
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
    width: 277px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    box-shadow: inset 9px 0 5px -10px black;
    box-sizing: border-box;

}

.pricing-offer th {
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
    vertical-align: middle;
    box-shadow: inset 9px 0 5px -10px black;
    box-sizing: border-box;

}

.pricing-offers-Choose {
    font-size: 18px;
    color: rgba(72, 72, 72, 255);
    font-weight: 700;
    background-color: #fafafa;
}

.pricing-offers-Choose span {
    display: block;
    font-size: 30px;
    color: rgba(72, 72, 72, 255);
}

.pricing-offers-name {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    box-sizing: border-box;
}

thead .pricing-offers-name:nth-child(2) {
    background-color: #89c331;
}

thead .pricing-offers-name:nth-child(3) {
    background-color: #f04a56;
    font-size: 30px;
    padding: 21px 0;
}

thead .pricing-offers-name:nth-child(4) {
    background-color: #20807c;
}


.pricing-offer td:first-child {
    width: 310px;
    box-sizing: border-box;
    padding: 22px 0;
}

.offer-cost {
    font-family: 'Arimo-Bold', sans-serif;
    color: #484848;
    background-color: #fafafa;
    padding: 18px 0;
}


.offer-cost span {
    font-size: 60px;
    font-weight: 700;
}


.offer-cost span::before {
    content: "\0024";
}

.offer-cost::after {
    content: 'Per Month';
    font-size: 18px;
    font-weight: 400;
    position: relative;
    right: 35px;
}

sup {
    font-size: 24px;
    line-height: 0;
    position: relative;
    top: 16px;
    vertical-align: top;
}

/*head end*/
/*tbody start*/

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}

i {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    padding-right: 12px;
}

/*tbody end*/
/*tfoot start*/

tfoot a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    display: inline-block;
    box-sizing: border-box;
    padding: 18px 0;
}

.contact-us-button a {
    background: linear-gradient(to bottom, #484848 90%, #404040 10%);
}

.contact-us-button {
    background-color: #dedede;
    padding: 29px 0;
}

.buy-now-button-standard {
    padding: 29px 0;
    background-color: #eeefef;
}

.buy-now-button-standard a {
    background: linear-gradient(to bottom, #89c331 90%, #79b027 10%);
}


.buy-now-button-ultimate {
    padding: 29px 0;
    background-color: #f4f4f4;
}

.buy-now-button-ultimate a {
    background: linear-gradient(to bottom, #f04a56 90%, #df3a46 10%);
}

.buy-now-button-premium {
    padding: 29px 0;
    background-color: #eeefef;
}

.buy-now-button-premium a {
    background: linear-gradient(to bottom, #20807c 90%, #16736f 10%);
}

.contact-us-button:hover a {
    transition: .5s;
    background: #dedede;
    color: #484848;
}

.contact-us-button:hover {
    background: rgb(72, 72, 72);
    transition: .7s
}

.buy-now-button-standard:hover a {
    transition: .5s;
    background: #eeefef;
    color: #89c331;
}

.buy-now-button-standard:hover {
    background: rgb(137, 195, 49);
    transition: .7s;
}

.buy-now-button-ultimate:hover a {
    transition: .5s;
    background: #eeefef;
    color: #f04a56;
}

.buy-now-button-ultimate:hover {
    background: rgba(240, 74, 86, 0.98);
    transition: .7s;
}

.buy-now-button-premium:hover a {
    transition: .5s;
    background: #eeefef;
    color: #20807c;
}

.buy-now-button-premium:hover {
    transition: .7s;
    background: rgb(32, 128, 124);
}

/*tfoot end*/
